.header, .main-nav-header, .new-chat-header, .main-landing {
  -webkit-app-region: drag;
}


.header{
  height: 80px !important
}


.header .left-content, .header .right-content{
  margin-top: 20px;
}
.start-chat, .mat-mdc-button-touch-target, .cdk-overlay-pane{
  -webkit-app-region: no-drag;
}